.form {
  background-color: rgb(250, 250, 250);
  font-size: 2rem;
  border: 0.6px black dashed;
}
.form_controll {
  padding: 1rem;
}
textarea,
input:not([type="radio"]):not([type="checkbox"]) {
  display: inline-block;
  width: 100%;
  font-size: 2.4rem;
  padding: 0 1rem;
  font-weight: 600;
}
[type="radio"],
[type="checkbox"] {
  margin-left: auto;
  display: inline-block;
  text-align: right;
}
select {
  width: 100%;
  display: inline-block;
  padding: 1rem;
  font-size: 1.6rem;
}
input,
textarea {
  font-family: inherit;
}
::placeholder {
  opacity: 0.6;
  font-size: 1.8rem;
  font-weight: 200;
}
label {
  text-transform: capitalize;
  font-size: 1.7rem;
  font-weight: 600;
}
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
[class*="btn-"] {
  display: inline-block;
  width: 100%;
  padding: 1rem;
  border: rgb(31, 31, 31) solid 2px;
  background-color: transparent;
  color: rgb(31, 31, 31);
  cursor: pointer;
}
button:hover {
  color: rgb(255, 255, 255);
  background-color: #333;
}
button:active {
  background-color: rgba(44, 44, 44, 0.445);
}

@media screen and (min-width: 800px) {
  .form {
    border: rgb(243, 161, 8) dashed 0.6px;
  }
}
@media screen and (min-width: 1000px) {
  .form {
    border: rgb(5, 255, 5) dashed 0.6px;
  }
}
